@model Active.Models.MyInteractionsViewModel

@{
    ViewBag.Title = "MyInteractions";
}

<h2>MyInteractions</h2>
<table class="table" width="80%">

    @for (int i = 0; i< Model.Interactions.Count; i++)
    {
        <tr>
            <td>
                <div>
                    <p>@Model.Interactions[i].User.FirstName</p>
                </div>
            </td>
            <td>
                <div>
                    <p>@Model.Interactions[i].Activity.Name</p>
                </div>
            </td>
            <td>
                <div>
                    <p>@Model.Interactions[i].Activity.TimeStart</p>
                </div>
            </td>
            <td>
                <div>
                    <button id="button1" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 0 , RateeId = @Model.Interactions[i].User.Id})'">No Show</button>
                    <button id="button2" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 1 , RateeId = @Model.Interactions[i].User.Id})'">Garbage Person</button>
                    <button id="button3" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 2 , RateeId = @Model.Interactions[i].User.Id})'">Not Great</button>
                    <button id="button4" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 3 , RateeId = @Model.Interactions[i].User.Id})'">So-so</button>
                    <button id="button5" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 4 , RateeId = @Model.Interactions[i].User.Id})'">Good</button>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#@("tr"+i)">Great</a>
                    <div class="modal fade" id="@("tr"+i)">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#" class="close" data-dissmiss="modal">&times;</a>
                                    <h3 class="modal-title">Email @Model.Interactions[i].User.FirstName</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Looks like you and @Model.Interactions[i].User.FirstName had a good time!</p>
                                    <p>Would you like to send them your email for future hang-outs?</p>
                                    <button id="button6" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 5 , RateeId = Model.Interactions[i].User.Id}) '">No</button>thanks, just the rating today.
                                    <button id="button6" onclick="location.href='@Url.Action("Rate_Email", "Meetup", new { id = 5 , RateeId = Model.Interactions[i].User.Id, RateeEmail = Model.Interactions[i].User.Email, RateeName = Model.Interactions[i].User.FirstName, ActivityName = Model.Interactions[i].Activity.Name, ActivityDate = Model.Interactions[i].Activity.TimeStart}) '">Yes</button>send them my full name and Email.
                                </div>
                                <div class="modal-footer">
                                    @*<a href="#" class="btn btn-default" data-dissmiss="modal">Cancel</a>
                        <input type="reset" value="Submit" class="btn btn-success" id="btnSubmit">Submit</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
</table>


