@model Active.Models.MyInteractionsViewModel

@{
    ViewBag.Title = "MyInteractions";
}

<h2>MyInteractions</h2>

@foreach (var interaction in Model.Interactions)
{
    @Html.DisplayFor(modelItem => interaction.User.FirstName)
    @Html.DisplayFor(modelItem => interaction.Activity.Name)
    @Html.DisplayFor(modelItem => interaction.Activity.TimeStart)
    @Html.HiddenFor(modelItem => interaction.User.Id)
    <button id="button1" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 0 , RateeId = interaction.User.Id})'">No Show</button>
    <button id="button2" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 1 , RateeId = interaction.User.Id})'">Garbage Person</button>
    <button id="button3" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 2 , RateeId = interaction.User.Id})'">Not Great</button>
    <button id="button4" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 3 , RateeId = interaction.User.Id})'">So-so</button>
    <button id="button5" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 4 , RateeId = interaction.User.Id})'">Good</button>
    <button id="button6" onclick="location.href='@Url.Action("Rate", "Meetup", new { id = 5 , RateeId = interaction.User.Id}) '">Awesome</button>
}


 