@model Active.Models.MainPageViewModel


<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create Activity</a>

@*<style>
        .modal{
            background-color: forestgreen;
        }
    </style>*@
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dissmiss="modal">&times;</a>
                <h3 class="modal-title">Activity</h3>
            </div>
            <div class="modal-body">
                @Html.Partial("_CreateActivity", new Active.Models.ActivityModel())
            </div>
            <div class="modal-footer">
                @*<a href="#" class="btn btn-default" data-dissmiss="modal">Cancel</a>
                    <input type="reset" value="Submit" class="btn btn-success" id="btnSubmit">Submit</a>*@
            </div>
        </div>
    </div>
</div>

@if (Model.ActivityJoined == 0)
{
    <table class="table" width="80%">
        <tr>
            <th>Activity</th>
            <th>Description</th>
            <th>Distance</th>
            <th>Cost/person</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Participants</th>
        </tr>
        @foreach (var activity in Model.Activities_Invitees)
        {
        <tr>
            <td>
                <div>
                    <p>@activity.Activity.Name</p>
                </div>
            </td>
            <td>
                <div>
                    <p>@activity.Activity.Description</p>
                </div>
            </td>
            <td>
                <div>
                    <p>@activity.Distance</p>
                </div>
            </td>
            <td>
                <div>
                    <p>$@activity.Activity.CostPerUser</p>
                </div>
            </td>
            <td>
                <div>
                    <p>@activity.timeStart</p>
                </div>
            </td>
            <td>
                <div>
                    <p>@activity.timeEnd</p>
                </div>
            </td>
            <td>
                <div>
                    @Html.DropDownList("Joined", activity.Invitees, htmlAttributes: new { @class = "form-control" })
                </div>
            </td>
            <td>
                <div>
                    <button id="activeButton" onclick="location.href='@Url.Action("JoinActivities", "Meetup", new { id = activity.Activity.Id })'">Join</button>
                </div>
            </td>
            <td>
                <div>
                    <button type="button" id="disabledButton"  disabled>Leave</button>
                </div>
            </td>
        </tr>
        }
    </table>
}
else
{
    <table class="table" width="80%">
        <tr>
            <th>Activity</th>
            <th>Description</th>
            <th>Distance</th>
            <th>Cost/person</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Participants</th>
        </tr>
        @foreach (var activity in Model.Activities_Invitees)
        {
            <tr>
                <td>
                    <div>
                        <p>@activity.Activity.Name</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.Activity.Description</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.Distance</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>$@activity.Activity.CostPerUser</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.timeStart</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.timeEnd</p>
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DropDownList("Joined", activity.Invitees, htmlAttributes: new { @class = "form-control" })
                    </div>
                </td>
                <td>
                    <div>
                        <button type= "button" id ="disabledButton" color= disabled>Join</button>
                    </div>
                </td>
                <td>
                    <div>
                        <button id="activeButton" onclick="location.href='@Url.Action("LeaveActivity", new { id = activity.Activity.Id })';return false;">Leave</button>
                    </div>
                </td>
            </tr>
        }
    </table>
}
<style>
    #disabledButton{
        opacity: .6;
    }
</style>

