@model Active.Models.MainPageViewModel

@if (Model.CheckedIn == false)
{
    <br />
    <br />
    <h4 id="Checkedin">Your checkin is over an hour old.  Check in again if your location has changed.</h4>
}
@if (Model.Activities_Invitees.Count == 0)
{
    <h2>My Created Activity</h2>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: right;">Create Activity</a>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dissmiss="modal">&times;</a>
                    <h3 class="modal-title">Activity</h3>
                </div>
                <div class="modal-body">
                    @Html.Partial("_CreateActivity", new Active.Models.ActivityModel())
                </div>
                <div class="modal-footer">
                    @*<a href="#" class="btn btn-default" data-dissmiss="modal">Cancel</a>
                        <input type="reset" value="Submit" class="btn btn-success" id="btnSubmit">Submit</a>*@
                </div>
            </div>
        </div>
    </div>

    <table class="table" width="90%">
        <tr>
            <th>Activity</th>
            <th>Description</th>
            <th>Distance</th>
            <th>Cost/person</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Participants</th>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <p>Doesn't Look like anyone has created an activity in your area.   Click "Create Activity" and get something started!</p>
}
else if (Model.ActivityJoined == 0)
{
    <h2>My Created Activity</h2>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: right;">Create Activity</a>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dissmiss="modal">&times;</a>
                    <h3 class="modal-title">Activity</h3>
                </div>
                <div class="modal-body">
                    @Html.Partial("_CreateActivity", new Active.Models.ActivityModel())
                </div>
                <div class="modal-footer">
                    @*<a href="#" class="btn btn-default" data-dissmiss="modal">Cancel</a>
                        <input type="reset" value="Submit" class="btn btn-success" id="btnSubmit">Submit</a>*@
                </div>
            </div>
        </div>
    </div>

    <table class="table" width="80%">
        <tr>
            <th>Activity</th>
            <th>Description</th>
            <th>Distance</th>
            <th>Cost/person</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Participants</th>
        </tr>
        @foreach (var activity in Model.Activities_Invitees.Where(n => n.Activity.CreatorId == Model.UserId))
        {
            <tr>
                <td>
                    <div>
                        <p>@activity.Activity.Name</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.Activity.Description</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.Distance</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>$@activity.Activity.CostPerUser</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.timeStart</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.timeEnd</p>
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DropDownList("Joined", activity.Invitees, htmlAttributes: new { @class = "form-control" })
                    </div>
                </td>
                <td>
                    <div>
                        <button id="activeButton" onclick="location.href='@Url.Action("JoinActivities", "Meetup", new { id = activity.Activity.Id })'">Join</button>
                    </div>
                </td>
                <td>
                    <div>
                        <button type="button" id="disabledButton" disabled>Leave</button>
                    </div>
                </td>
                <td>
                    <div>
                        @Html.ActionLink("Edit Activity", "EditActivity", new { id = activity.Activity.Id })<br />
                        @Html.ActionLink("Delete Activity", "DeleteActivity", new { id = activity.Activity.Id })<br />
                        @Html.ActionLink("Directions", "ViewDirections", new { id = activity.Activity.Id })
                    </div>
                </td>
            </tr>
        }
    </table>
    <br />
    <br />
    <br />
    <br />
    <h2>Activities Near  Me</h2>
    <table class="table" width="80%">
        <tr>
            <th>Activity</th>
            <th>Description</th>
            <th>Distance</th>
            <th>Cost/person</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Participants</th>
        </tr>
        @foreach (var activity in Model.Activities_Invitees.Where(n => n.Activity.CreatorId != Model.UserId))
        {
        <tr>
            <td>
                <div>
                    <p>@activity.Activity.Name</p>
                </div>
            </td>
            <td>
                <div>
                    <p>@activity.Activity.Description</p>
                </div>
            </td>
            <td>
                <div>
                    <p>@activity.Distance</p>
                </div>
            </td>
            <td>
                <div>
                    <p>$@activity.Activity.CostPerUser</p>
                </div>
            </td>
            <td>
                <div>
                    <p>@activity.timeStart</p>
                </div>
            </td>
            <td>
                <div>
                    <p>@activity.timeEnd</p>
                </div>
            </td>
            <td>
                <div>
                    @Html.DropDownList("Joined", activity.Invitees, htmlAttributes: new { @class = "form-control" })
                </div>
            </td>
            <td>
                <div>
                    <button id="activeButton" onclick="location.href='@Url.Action("JoinActivities", "Meetup", new { id = activity.Activity.Id })'">Join</button>
                </div>
            </td>
            <td>
                <div>
                    <button type="button" id="disabledButton"  disabled>Leave</button>
                </div>
            </td>
            <td>
                <div>
                    @Html.ActionLink("Directions", "ViewDirections", new { id = activity.Activity.Id })
                </div>
            </td>
        </tr>
        }
    </table>
}
else
{
    <h2>My Created Activity</h2>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: right;">Create Activity</a>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dissmiss="modal">&times;</a>
                    <h3 class="modal-title">Activity</h3>
                </div>
                <div class="modal-body">
                    @Html.Partial("_CreateActivity", new Active.Models.ActivityModel())
                </div>
                <div class="modal-footer">
                    @*<a href="#" class="btn btn-default" data-dissmiss="modal">Cancel</a>
                        <input type="reset" value="Submit" class="btn btn-success" id="btnSubmit">Submit</a>*@
                </div>
            </div>
        </div>
    </div>

    <table class="table" width="90%">
        <tr>
            <th>Activity</th>
            <th>Description</th>
            <th>Distance</th>
            <th>Cost/person</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Participants</th>
        </tr>
        @foreach (var activity in Model.Activities_Invitees.Where(n => n.Activity.CreatorId == Model.UserId))
        {
            <tr>
                <td>
                    <div>
                        <p>@activity.Activity.Name</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.Activity.Description</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.Distance</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>$@activity.Activity.CostPerUser</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.timeStart</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.timeEnd</p>
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DropDownList("Joined", activity.Invitees, htmlAttributes: new { @class = "form-control" })
                    </div>
                </td>
                <td>
                    <div>
                        <button type="button" id="disabledButton" color= disabled>Join</button>
                    </div>
                </td>
                @if (activity.Activity.Id == Model.ActivityJoined)
                {
                    <td>
                        <div>
                            <button id="activeButton" onclick="location.href='@Url.Action("LeaveActivity", new { id = activity.Activity.Id })';return false;">Leave</button>
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        <div>
                            <button type="button" id="disabledButton" color= disabled>Leave</button>
                        </div>
                    </td>
                }                
                <td>
                    @Html.ActionLink("Edit Activity", "EditActivity", new { id = activity.Activity.Id })<br />
                    @Html.ActionLink("Delete Activity", "DeleteActivity", new { id = activity.Activity.Id })<br />
                    @Html.ActionLink("Directions", "ViewDirections", new { id = activity.Activity.Id })
                </td>
            </tr>
        }
    </table>
    <br />
    <br />
    <br />
    <br />
    <h2>Activities Near  Me</h2>
    <table class="table" width="80%">
        <tr>
            <th>Activity</th>
            <th>Description</th>
            <th>Distance</th>
            <th>Cost/person</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Participants</th>
        </tr>
        @foreach (var activity in Model.Activities_Invitees.Where(n => n.Activity.CreatorId != Model.UserId))
        {
            <tr>
                <td>
                    <div>
                        <p>@activity.Activity.Name</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.Activity.Description</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.Distance</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>$@activity.Activity.CostPerUser</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.timeStart</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>@activity.timeEnd</p>
                    </div>
                </td>
                <td>
                    <div>
                        @Html.DropDownList("Joined", activity.Invitees, htmlAttributes: new { @class = "form-control" })
                    </div>
                </td>
                <td>
                    <div>
                        <button type= "button" id ="disabledButton" color= disabled>Join</button>
                    </div>
                </td>
                @if (activity.Activity.Id == Model.ActivityJoined)
                {
                <td>
                    <div>
                        <button id="activeButton" onclick="location.href='@Url.Action("LeaveActivity", new { id = activity.Activity.Id })';return false;">Leave</button>
                    </div>
                </td>
                }
                else
                {
                    <td>
                        <div>
                            <button type="button" id="disabledButton" color= disabled>Leave</button>
                        </div>
                    </td>
                }
                <td>
                    <div>
                        @Html.ActionLink("Directions", "ViewDirections", new { id = activity.Activity.Id })<br />
                    </div>
                </td>
            </tr>
        }
    </table>
}
<style>
    #disabledButton{
        opacity: .6;
    }
    #Checkedin{
        text-align:center;
        color:red;
    }
</style>
@*<style>
        #myModal{
            text-align:"right"
        }
</style>*@

