@model Active.Models.MainPageViewModel


<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create Activity</a>

@*<style>
        .modal{
            background-color: forestgreen;
        }
    </style>*@
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dissmiss="modal">&times;</a>
                <h3 class="modal-title">Activity</h3>
            </div>
            <div class="modal-body">
                @Html.Partial("_CreateActivity", new Active.Models.ActivityModel())
            </div>
            <div class="modal-footer">
                @*<a href="#" class="btn btn-default" data-dissmiss="modal">Cancel</a>
                    <input type="reset" value="Submit" class="btn btn-success" id="btnSubmit">Submit</a>*@
            </div>
        </div>
    </div>
</div>

@if (Model.ActivityJoined == 0)
{
    foreach (var activity in Model.Activities_Invitees)
    {
        @Html.DisplayFor(modelItem => activity.Activity.Name)
        @Html.DisplayFor(modelItem => activity.Activity.Description)
        @Html.DisplayFor(modelItem => activity.Activity.Area)
        @Html.DisplayFor(modelItem => activity.Activity.CostPerUser)
        @Html.DisplayFor(modelItem => activity.Activity.TimeStart)
        @Html.DisplayFor(modelItem => activity.Activity.TimeEnd)
        @Html.DropDownList("Joined" , activity.Invitees, htmlAttributes: new { @class = "form-control" })
        <button id="button" onclick="location.href='@Url.Action("JoinActivities", "Meetup", new { id = activity.Activity.Id })'">Join</button>

    }
}
else
{
    foreach (var activity in Model.Activities_Invitees)
    {
        @Html.DisplayFor(modelItem => activity.Activity.Name)
        @Html.DisplayFor(modelItem => activity.Activity.Description)
        @Html.DisplayFor(modelItem => activity.Activity.Area)
        @Html.DisplayFor(modelItem => activity.Activity.CostPerUser)
        @Html.DisplayFor(modelItem => activity.Activity.TimeStart)
        @Html.DisplayFor(modelItem => activity.Activity.TimeEnd)
        <button type="button" disabled>Join</button>
        if (activity.Activity.Id == Model.ActivityJoined)
        {
        <button id ="button" onclick="location.href='@Url.Action("LeaveActivity", new { id = activity.Activity.Id })';return false;">Leave</button>
        }

    }
}

